# OpenWrt Configuration
#
CONFIG_DEFAULT_autocore-x86=y
#CONFIG_DEFAULT_automount=y
#CONFIG_DEFAULT_autosamba=y
CONFIG_DEFAULT_automount is not set
CONFIG_DEFAULT_autosamba is not set
CONFIG_DEFAULT_luci-app-accesscontrol=y
CONFIG_DEFAULT_luci-app-adbyby-plus is not set
CONFIG_DEFAULT_luci-app-arpbind=y
CONFIG_DEFAULT_luci-app-autoreboot=y
CONFIG_DEFAULT_luci-app-cpufreq=y
CONFIG_DEFAULT_luci-app-ddns=y
CONFIG_DEFAULT_luci-app-filetransfer=y
CONFIG_DEFAULT_luci-app-ipsec-vpnd is not set
CONFIG_DEFAULT_luci-app-jd-dailybonus is not set
CONFIG_DEFAULT_luci-app-nlbwmon=y
CONFIG_DEFAULT_luci-app-ramfree=y
CONFIG_DEFAULT_luci-app-sfe is not set
CONFIG_DEFAULT_luci-app-ssr-plus is not set
CONFIG_DEFAULT_luci-app-unblockmusic=y
CONFIG_DEFAULT_luci-app-upnp=y
CONFIG_DEFAULT_luci-app-uugamebooster is not set
CONFIG_DEFAULT_luci-app-vlmcsd=y
CONFIG_DEFAULT_luci-app-vsftpd is not set
CONFIG_DEFAULT_luci-app-webadmin=y
CONFIG_DEFAULT_luci-app-wol=y
CONFIG_DEFAULT_luci-app-xlnetacc is not set
CONFIG_DEFAULT_luci-app-zerotier is not set
#
